*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body,html{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main{
    max-width: 500px;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgb(54, 52, 52);
}

#display{
    width: 100%;
    height: 100px;
    color: white;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    background-color: rgb(54, 52, 52);
}
button{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    font-size: 2.5rem;
    background-color: rgb(93, 90, 90);
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
}

button:active{
    scale: 0.95;
}
.opr{
    background-color: rgb(225, 125, 10);
}
.opr:active{
    scale: 0.95;
}

.unique{
    position: relative;
    left: 330px;
}

.buttons{
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
    padding: 25px;
    gap: 10px;
    
}