*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
#hello{
    height: 250px;
    width: 250px;
    border: 5px solid pink;
    border-radius: 50%;
    background-color: #000;
}
button{
    height: 60px;
    width: 250px;
    font-size: 50px;
    font-weight: 500;
}
button:active{
    scale: 0.9;
}