*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn{
    width: 7rem;
    height: 2rem;
    position: relative;
    background-color: rgb(22, 77, 22);
    color: white;
    border-radius: 5px;
    border: none;
    z-index: 89;
    font-size: 0.7rem;
}
.btn:active{
    scale: 0.9;
}
