*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html{
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main{
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    position: relative;
}

.cursor{
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
    position: absolute;
    border: 1px solid rgb(34, 131, 99);
    mix-blend-mode: difference;
}
h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 7vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}