*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,
html{
    width: 100%;
    height: 100%;
    background-color: black;
}

.main{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}
.img1,
.img2{
    width: 30%;
    height: 30%;
    padding: 30px;
    border-radius: 50px;
    border: 2px solid white;
}


button{
    width: 100px;
    height: 30px;
    background-color: green;
    color: white;
    border-radius: 5px;
    padding: 2px 5px;
}

button:active{
    scale: 0.85;
}