*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main{
    width: 200px;
    height: 100px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    border-radius: 5px;
    padding: 5px;
}

.both{
    display: flex;
    justify-content: space-between;
}

button{
    width: 10;
    background-color: rgb(45, 153, 45);
    color: white;
    border: none;
    padding: 5px 8px;
    font-size: 10px;
    border-radius: 4px;
}

.line{
    width:100%;
    height: 10%;
    background-color: rgb(211, 214, 213);
    align-self: center;
    border-radius: 10px;
}

.full{
    width: 0%;
    height: 100%;
    background-color: rgb(45, 153, 45);
    border-radius: 10px;
}
p{
    font-size: 12px;
    font-weight: 500;
}