*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body,html, #main{
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    gap: 10px;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap ;
}
.card img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 1.5px solid rgb(255, 255, 255);
    
}
.card{
    background-color: black;
    width: 80px;
    height: 130px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}
.frnd{
    color: red;
    font-size: 7px;
    font-weight: 700;
    
}
.prof{
    font-size: 5px;
    color: whitesmoke;
    font-weight: 500;
}
h5{
    font-size: 10px;
}
button{
    width: 40px;
    height: 12px;
    font-size: 6px;
    border: none;
    border-radius: 3px;
    background-color: rgb(6, 105, 6);
    color: white;
}
button:active{
    scale: 0.8;
}